*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a{
    text-decoration: none;
}

header{
    width: 10%;
}

.headline{
    font-size: 22px;
}

.nav{
    text-align: center;
    margin: 0 auto;
}

.list{
    padding-left: 40px;
}